{% extends 'web1/base.html' %}

{% block content %}
    <div class="one wide column"></div>
    <div class="twelve wide column">
        <div class="espaco"></div>
        <h1><i class="plus icon"></i> Cadastro de Aluno</h1>
        <form class="ui segment form" method="POST" action="{% url 'web1.views.cadastra_aluno' %}">
            {% csrf_token %}
            <div class="fields">
                <div class="eight wide field">
                    <label>Nome:</label>
                    {{ form.nome }}
                    {% if form.nome.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.nome.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>E-mail:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Matrícula:</label>
                    <div class="matricula">
                        <div class="matricula">
                            {{ form.matricula }}
                        </div>
                    </div>
                    {% if form.matricula.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.matricula.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="fields">
                <div class="four wide field">
                    <label>Nome pai:</label>
                    {{ form.nome_pai }}
                    {% if form.nome_pai.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.nome_pai.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Nome mãe:</label>
                    {{ form.nome_mae }}
                    {% if form.nome_mae.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.nome_mae.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Tel. Aluno:</label>
                    <div class="telefone">
                        {{ form.telefone_aluno }}
                    </div>
                    {% if form.telefone_aluno.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.telefone_aluno.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Tel. responsável:</label>
                    <div class="telefone">
                        {{ form.telefone_responsavel }}
                    </div>
                    {% if form.telefone_responsavel.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.telefone_responsavel.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="fields">
                <div class="four wide field"></div>
                <div class="four wide field">
                    <label>Curso:</label>
                    {{ form.curso }}
                    {% if form.curso.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.curso.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Turma:</label>
                    {{ form.turma }}
                    {% if form.turma.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.turma.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="ui two buttons">
                <a class="ui button fluid" href="{% url 'web1.views.login_verifica_grupo' %}">Voltar</a>
                <input class="ui button fluid positive" type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
    <div class="one wide column"></div>
{% endblock content %}