{% load staticfiles user_tags %}
<html>
<head>
    <title>Sistema de Controle de Permanência</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semanticui/semantic.min.css' %}">
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'semanticui/semantic.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/scp.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <link rel="icon" href="{% static 'images/logo-ifc-icon.png' %}" type="image/x-icon">
</head>

<body>
<nav class="ui stackable borderless menu">
    <section class="item">
        <a class="ui medium image" href="{% url 'web1.views.login_verifica_grupo' %}">
            <img src="{% static 'images/logo-ifc.png' %}"/>
        </a>
    </section>
    <h3 class="item header">
        <span class="sub header">
            <b>SISTEMA DE CONTROLE DE PERMANÊNCIA</b>
        </span>
    </h3>
    {% if user.is_authenticated %}
        <section class="right menu">
        <span class="item">
            <i class="ui right large user icon"></i>
            {{ user.username }}
        </span>
            <a href="{% url 'django.contrib.auth.views.logout' %}" class="item">
                <i class="sign out icon"></i>
                Sair
            </a>
        </section>
    {% endif %}
</nav>
<article class="ui centered grid stackable">
    {% if user.is_authenticated and request.user|has_group:"Nupe" %}
        <section class="ui two wide column vertical menu scp-menu">
            <a class="item" href="{% url 'web1.views.login_verifica_grupo' %}"><i class="left-aligned home icon"></i>Home</a>
            <a class="item" href="{% url 'web1.views.seleciona_aluno' %}"><i class="left-aligned write icon"></i>Criar Permissão</a>
            <a class="item" href="{% url 'web1.views.lista_permissoes' %}"><i class="left-aligned history icon"></i>Histórico</a>
            <section class="ui dropdown item">
                <i class="left-aligned add icon"></i>
                <i class="dropdown icon"></i>
                Cadastros
                <section class="menu">
                    <a class="item" href="{% url 'web1.views.cadastra_aluno' %}"><i class="add icon"></i>Aluno</a>
                    <a class="item" href="{% url 'web1.views.cadastra_funcionario' %}"><i class="add icon"></i>Funcionario</a>
                    <a class="item" href="{% url 'web1.views.cadastra_curso' %}"><i class="add icon"></i>Curso</a>
                    <a class="item" href="{% url 'web1.views.cadastra_turma' %}"><i class="add icon"></i>Turma</a>
                    <a class="item" href="{% url 'web1.views.cadastra_tipo_permissao' %}"><i class="add icon"></i>Tipo
                        de permissão</a>
                    <a class="item" href="{% url 'web1.views.cadastra_tipo_oferta' %}"><i class="add icon"></i>Tipo de
                        oferta</a>
                </section>
            </section>
            <section class="ui dropdown item">
                <i class="left-aligned sidebar icon"></i>
                <i class="dropdown icon"></i>
                Registros
                <section class="menu">
                    <a class="item" href="{% url 'aluno_list' %}"><i class="sidebar icon"></i>Alunos</a>
                    <a class="item" href="{% url 'funcionario_list' %}"><i class="sidebar icon"></i>Funcionarios</a>
                    <a class="item" href="{% url 'curso_list' %}"><i class="sidebar icon"></i>Cursos</a>
                    <a class="item" href="{% url 'turma_list' %}"><i class="sidebar icon"></i>Turmas</a>
                </section>
            </section>
        </section>
    {% endif %}
    {% block content %}
    {% endblock %}
</article>
<footer class="ui black inverted vertical footer relaxed segment">
    <section class="ui five column middle aligned centered inverted divided stackable grid">
        <section class="two wide column">
            <h5 class="ui inverted icon header">
                <i class="calendar icon"></i>
                <span class="content">
                    SCP
                    <span class="sub header">© Copyright 2017.</span>
                    <span class="sub header">Vinícius de Oliveira</span>
                </span>
            </h5>
        </section>
        <section class="three wide column">
            <ul class="ui divided celled relaxed inverted list">
                <li class="item"><a href="https://github.com/viniciusbsi" target="_blank"><i
                        class="ui github large icon"></i>Github @viniciusbsi</a></li>
                <li class="item"><a href="https://www.linkedin.com/in/vinicius-o-44267511a/" target="_blank"><i
                        class="ui linkedin large icon"></i>Linkedin</a></li>
            </ul>
        </section>
    </section>
</footer>
</body>
</html>
