{% extends 'web1/base.html' %}

{% block content %}
    <section class="two wide column"></section>
    <section class="ten wide column">
        <section class="espaco"></section>
        <section class="ui row">
            {% if msg %}
                <section class="sixteen wide column">
                    <section class="ui green message">
                        <section class="header">
                            {{ msg }}
                        </section>
                    </section>
                </section>
            {% endif %}
            <section class="ui message">
                <section class="header">
                    Sistema de Controle de Permancência
                </section>
                <p>Este sistema foi criado com âmbito de avaliação para a disciplina de Desenvolvimento Web 1 do curso
                    de Bacharelado em Sistemas de Informação
                    do Instituto Federal Catarinense Campus Araquari. </p>
                <p>
                    Esta aplicação tem por objetivo realizar o controle de:
                <ol>
                    <li>Cadastro de funcionários do Núcleo Pedagógico</li>
                    <li>Cadastro de alunos</li>
                    <li>Cadastro de cursos</li>
                    <li>Cadastro de turmas</li>
                    <li>Criação de permissões</li>
                </ol>
                </p>
            </section>
        </section>
    </section>
    <section class="two wide column"></section>
{% endblock content %}