{% extends 'web1/base.html' %}

{% block content %}
    <section class="two wide column"></section>
    <section class="ten wide column">
        <section class="espaco"></section>
        <h1><i class="list icon"></i> Lista de Funcionários</h1>
        <table class="ui celled table green">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>e-mail</th>
                <th>Matrícula</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.pessoa_funcionario.get_full_name }}</td>
                    <td>{{ obj.pessoa_funcionario.groups.all.0.name }}</td>
                    <td>{{ obj.pessoa_funcionario.email }}</td>
                    <td>{{ obj.matricula }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
        </table>
    </section>
    <section class="two wide column"></section>
{% endblock content %}
