{% extends 'web1/base.html' %}

{% block content %}
    <section class="one wide column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <h1><i class="plus icon"></i> Cadastro de Funcionário</h1>
        {% if funcionario %}
            <form class="ui segment form" method="POST" action="{% url 'web1.views.edita_funcionario' funcionario.id%}">
        {% else %}
            <form class="ui segment form" method="POST" action="{% url 'web1.views.cadastra_funcionario' %}">
        {% endif %}
            {% csrf_token %}
            <section class="fields">
                <section class="four wide field">
                    <label>Nome:<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.first_name }}
                    {% if form_pessoa.first_name.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.first_name.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>Sobrenome:<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.last_name }}
                    {% if form_pessoa.last_name.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.last_name.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>E-mail:<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.email }}
                    {% if form_pessoa.email.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.email.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>Função:<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.groups }}
                    {% if form_pessoa.groups.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.groups.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
            <section class="fields">
                <section class="four wide field">
                    <label>Matrícula:<i class="asterisk icon red"></i></label>
                    <section class="matricula">
                        {{ form.matricula }}
                    </section>
                    {% if form.matricula.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.matricula.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>Login:<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.username }}
                    {% if form_pessoa.username.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.username.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>Senha:<i class="asterisk icon red"></i></label>
                    {{ form_senha.password }}
                    {% if form_senha.password.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_senha.password.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>Senha novamente:<i class="asterisk icon red"></i></label>
                    {{ form_senha.password_checker }}
                    {% if form_senha.password_checker.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_senha.password_checker.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
            <section class="ui two buttons">
                <a class="ui button fluid" href="{% url 'web1.views.login_verifica_grupo' %}">Voltar</a>
                <input class="ui button fluid positive" type="submit" value="Cadastrar">
            </section>
        </form>
    </section>
    <section class="one wide column"></section>
{% endblock content %}