{% extends 'web1/base.html' %}
{% load i18n %}
{% block content %}
    <section class="one wide column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <h1><i class="plus icon"></i>{% trans "Cadastro de Funcionário" %}</h1>
        {% if funcionario %}
            <form class="ui segment form" method="POST" action="{% url 'edita_funcionario' funcionario.id%}">
        {% else %}
            <form class="ui segment form" method="POST" action="{% url 'cadastra_funcionario' %}">
        {% endif %}
            {% csrf_token %}
            <section class="fields">
                <section class="four wide field">
                    <label>{% trans "Nome" %}<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.first_name }}
                    {% if form_pessoa.first_name.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.first_name.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "Sobrenome" %}<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.last_name }}
                    {% if form_pessoa.last_name.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.last_name.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "E-mail" %}<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.email }}
                    {% if form_pessoa.email.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.email.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "Função" %}<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.groups }}
                    {% if form_pessoa.groups.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.groups.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
            <section class="fields">
                <section class="four wide field">
                    <label>{% trans "Matrícula" %}<i class="asterisk icon red"></i></label>
                    <section class="matricula">
                        {{ form.matricula }}
                    </section>
                    {% if form.matricula.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.matricula.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "Login" %}<i class="asterisk icon red"></i></label>
                    {{ form_pessoa.username }}
                    {% if form_pessoa.username.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_pessoa.username.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "Senha" %}<i class="asterisk icon red"></i></label>
                    {{ form_senha.password }}
                    {% if form_senha.password.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_senha.password.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field">
                    <label>{% trans "Senha novamente" %}<i class="asterisk icon red"></i></label>
                    {{ form_senha.password_checker }}
                    {% if form_senha.password_checker.errors %}
                        <section class="ui pointing red basic label">
                            {{ form_senha.password_checker.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
            <section class="ui two buttons">
                <a class="ui button fluid" href="{% url 'verifica_grupo' %}">{% trans "Voltar" %}</a>
                <input class="ui button fluid positive" type="submit" value="Cadastrar">
            </section>
        </form>
    </section>
    <section class="one wide column"></section>
{% endblock content %}