{% extends 'web1/base.html' %}
{% load i18n %}

{% block content %}
    <section class="column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <section class="ui row">
            {% if msg %}
                <section class="sixteen wide column">
                    <section class="ui green message">
                        <section class="header">
                            {{ msg }}
                        </section>
                    </section>
                </section>
            {% endif %}
            <section class="ui message">
                <section class="header">
                    {% trans "Sistema de Controle de Permancência" %}
                </section>
                <p>{% trans "Este sistema foi criado com âmbito de avaliação para a disciplina de Desenvolvimento Web 1 do curso de Bacharelado em Sistemas de Informação do Instituto Federal Catarinense Campus Araquari." %}</p>
                <p>
                    {% trans "Esta aplicação tem por objetivo realizar o controle de" %}
                <ol>
                    <li>{% trans "Cadastro de funcionários do Núcleo Pedagógico" %}</li>
                    <li>{% trans "Cadastro de alunos" %}</li>
                    <li>{% trans "Cadastro de cursos" %}</li>
                    <li>{% trans "Cadastro de turmas" %}</li>
                    <li>{% trans "Criação de permissões" %}</li>
                </ol>
                </p>
            </section>
        </section>
    </section>
    <section class="column"></section>
{% endblock content %}