{% extends 'web1/base.html' %}

{% block content %}
    <section class="one wide column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <h1><i class="list icon"></i> Lista de Permissões</h1>
        <form class="ui form" id="CampoFiltroForm" method="get" action="{% url 'lista_permissao' %}">
            <section class="ui right aligned category search">
                <section class="ui icon input fluid">
                    <i class="search icon"></i>
                    <input type="text" id="id_campo" name="filtro" placeholder="Pesquisar">
                </section>
            </section>
        </form>
        <table class="ui celled table green">
            <thead>
            <tr>
                <th>Aluno</th>
                <th>Descrição</th>
                <th>Funcionario Nupe</th>
                <th>Hora</th>
                <th>Professor</th>
                <th>Portaria</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for permissao in permissoes %}
                <tr>
                    <td>{{ permissao.aluno }}{{ permissao.excluido }}</td>
                    <td>{{ permissao.descricao|truncatechars:50 }}</td>
                    <td>{{ permissao.funcionario_nupe }}</td>
                    <td>{{ permissao.hora_solicitada }}</td>
                    <td>
                        {% if permissao.verificado_professor == None %}
                            <i class="remove circle outline icon red large"></i>
                            {% if grupo_user == 'professor' %}
                                (<a href="{% url 'web1.views.ValidaPermissaoProfessor' permissao.id %}" class="link">Validar</a>
                                )
                            {% endif %}
                        {% else %}
                            <i class="check circle outline icon green large"></i>
                            {{ permissao.verificado_professor }}
                        {% endif %}
                    </td>
                    <td>
                        {% if permissao.verificado_portaria == None %}
                            <i class="remove circle outline icon red large"></i>
                            {% if grupo_user == 'portaria' %}
                                (<a href="{% url 'web1.views.ValidaPermissaoPortaria' permissao.id %}" class="link">Validar</a>
                                )
                            {% endif %}

                        {% else %}
                            <i class="check circle outline icon green large"></i>
                            {{ permissao.verificado_portaria }}
                        {% endif %}
                    </td>
                    <td>
                        <a target="_blank" href="{% url 'web1.views.GeraComprovantePDF' permissao.id %}" class="link">Gerar PDF</a>
                        </br>
                        <a href="{% url 'web1.views.edita_permissao' permissao.id %}" class="link">Editar</a>
                        </br>
                        <a href="{% url 'web1.views.exclui_permissao' permissao.id%}" class="link">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
        </table>
    </section>
    <section class="one wide column"></section>
{% endblock content %}
