{% extends 'web1/base.html' %}
{% load i18n %}

{% block content %}
    <section class="column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <h1><i class="plus icon"></i>Cadastrar Tipo de Oferta</h1>
        <form class="ui form segment" method="POST" action="{% url 'cadastra_tipo_oferta' %}">
            {% csrf_token %}
            <section class="field">
                <label>{% trans "Nome" %}:<i class="asterisk icon red"></i></label>
                {{ form.descricao }}
                {% if form.descricao.errors %}
                    <section class="ui pointing red basic label">
                        {{ form.descricao.errors }}
                    </section>
                {% endif %}
            </section>
            <section class="ui two buttons">
                <a class="ui button fluid" href="{% url 'verifica_grupo' %}">{% trans "Voltar" %}</a>
                <input class="ui button fluid positive" type="submit" value="{% trans "Cadastrar" %}">
            </section>
        </form>
    </section>
    <section class="column"></section>
{% endblock content %}