{% extends 'web1/base.html' %}

{% block content %}
    <section class="two wide column"></section>
    <section class="ten wide column">
        <section class="espaco"></section>
        <h1><i class="plus icon"></i>Cadastrar Tipo de Oferta</h1>
        <form class="ui form segment" method="POST" action="{% url 'web1.views.cadastra_tipo_oferta' %}">
            {% csrf_token %}
            <section class="fields">
                <section class="four wide field"></section>
                <section class="eight wide field">
                    <label>Descrição:<i class="asterisk icon red"></i></label>
                    {{ form.descricao }}
                    {% if form.descricao.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.descricao.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="four wide field"></section>
            </section>
            <section class="ui two buttons">
                <a class="ui button fluid" href="{% url 'web1.views.login_verifica_grupo' %}">Voltar</a>
                <input class="ui button fluid positive" type="submit" value="Cadastrar">
            </section>
        </form>
    </section>
    <section class="two wide column"></section>
{% endblock content %}