{% extends 'web1/base.html' %}

{% block content %}
    <section class="column"></section>
    <section class="twelve wide column">
        <section class="espaco"></section>
        <h1><i class="add icon"></i> Cadastrar turma</h1>
        {% if turma %}
            <form class="ui form segment" method="POST" action="{% url 'web1.views.edita_turma' turma.id %}">
        {% else %}
            <form class="ui form segment" method="POST" action="{% url 'web1.views.cadastra_turma' %}">
        {% endif %}
        {% csrf_token %}
        <section class="two fields">
            <section class="field">
                <label>Nome:<i class="asterisk icon red"></i></label>
                {{ form.nome }}
                {% if form.nome.errors %}
                    <section class="ui pointing red basic label">
                        {{ form.nome.errors }}
                    </section>
                {% endif %}
            </section>
            <section class="field">
                <label>Ano:<i class="asterisk icon red"></i></label>
                <section class="ano">
                    {{ form.ano }}
                </section>
                {% if form.ano.errors %}
                    <section class="ui pointing red basic label">
                        {{ form.ano.errors }}
                    </section>
                {% endif %}
            </section>
        </section>
        <section class="field">
            <label>Descrição:<i class="asterisk icon red"></i></label>
            {{ form.descricao }}
            {% if form.descricao.errors %}
                <section class="ui pointing red basic label">
                    {{ form.descricao.errors }}
                </section>
            {% endif %}
        </section>
        <section class="ui two buttons">
            <a class="ui button fluid" href="{% url 'web1.views.login_verifica_grupo' %}">Voltar</a>
            <input class="ui button fluid positive" type="submit" value="Cadastrar">
        </section>
        </form>
    </section>
    <section class="column"></section>
{% endblock content %}