{% extends 'web1/base.html' %}

{% block content %}
    <section class="two wide column"></section>
    <section class="ten wide column">
        <section class="espaco"></section>
        <h1><i class="list icon"></i> Lista de Turmas</h1>
        <table class="ui celled table green">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.descricao }}</td>
                    <td>{{ obj.ano }}</td>
                    <td><a href="{% url 'web1.views.edita_turma' obj.id %}" class="link">Editar</a>
                        </br>
                        <a href="{% url 'web1.views.exclui_turma' obj.id%}" class="link">Excluir</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
        </table>
    </section>
    <section class="two wide column"></section>
{% endblock content %}
