{% load staticfiles %}
<html>
<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semanticui/semantic.min.css' %}">
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'semanticui/semantic.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/scp.js' %}"></script>

</head>

<body>
<header class="ui stackable middle aligned grid">
    <div class="one wide column"></div>
    <div class="three wide column">
        <div class="espaco"></div>
        <a class="ui image" href="{% url 'blog.views.login_verifica_grupo' %}">
            <img src="{% static 'images/logo-ifc.png' %}"/>
        </a>
    </div>
    <div class="seven wide column">
        <br/>
        <h2 class="ui header">
            <div class="sub header">
                <b>SISTEMA DE CONTROLE DE PERMANÊNCIA</b>
            </div>
        </h2>
        <br/>
    </div>
    <div class="three wide column right aligned">
        {% if user.is_authenticated %}
            <div class="ui pointing dropdown link item">
                <i class="ui right large user icon"></i>
                {{ user.username }}
                <i class="angle down icon"></i>
                <div class="ui menu">
                    <a href="" class="item">
                        <i class="user icon"></i>
                        Meu Perfil
                    </a>
                    <a href="{% url 'django.contrib.auth.views.logout' %}" class="item">
                        <i class="sign out icon"></i>
                        Sair
                    </a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span
                    class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>
</header>

<section class="ui centered grid stackable">
    <div class="two wide column scp-menu">
        <div class="ui secondary vertical menu">
            <div class="item">
                <a href="{% url 'blog.views.login_verifica_grupo' %}"><i class="large home icon"></i>Home</a>
            </div>
            <div class="item">
                <a href="{% url 'blog.views.cadastra_permissao' %}"><i class="write icon"></i>Criar Permissão</a>
            </div>
            <div class="item">
                <a href="{% url 'blog.views.lista_permissoes' %}"><i class="history icon"></i>Histórico</a>
            </div>
            <div class="ui dropdown item">
                <div class="item">
                    <a><i class="plus home icon"></i>Cadastros<i class="dropdown icon"></i></a>
                </div>
                <div class="menu">
                    <a class="item" href="{% url 'blog.views.cadastra_aluno' %}">Aluno</a>
                    <a class="item" href="{% url 'blog.views.cadastra_funcionario' %}">Funcionario</a>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</section>

<footer class="ui inverted vertical segment footer">
    <div class="ui centered grid">
        <div class="sixteen wide column center aligned">
            GOsto muito quando funciona
        </div>
    </div>
</footer>

</body>
</html>
