{% extends 'blog/base.html' %}

{% block content %}
    <div class="two wide column"></div>
    <div class="ten wide column">
        <div class="espaco"></div>
        <div class="ui row">
            <div class="ui message">
                <div class="header">
                    Sistema de Controle de Permancência
                </div>
                <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                    changes.</p>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock content %}