{% extends 'blog/base.html' %}

{% block content %}
    <div class="twelve wide column">
        <h1><i class="list icon"></i> Criar Permissão</h1>
        <form class="ui form segment" method="POST" action="{% url 'blog.views.cadastra_permissao' %}">
            {% csrf_token %}
            <div class="fields">
                <div class="six wide field">
                    <label>Descrição:</label>
                    {{ form.descricao }}
                </div>
                <div class="five wide field">
                    <label>Hora solicitada pelo aluno:</label>
                    {{ form.hora_solicitada }}
                </div>
                <div class="six wide field">
                    <label>Aluno:</label>
                    {{ form.aluno }}
                </div>
            </div>
            <div class="ui two buttons">
                <input class="ui button fluid" type="submit" value="Cadastrar">
                <input class="ui button fluid positive" type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
{% endblock content %}