body {
    background-color: #e8e8e8 !important;
    min-height: 100% !important;
}

header {
    min-height: 15% !important;
    padding-top: 2%;
    border-bottom: 1px solid #d4d4d4;
    background-color: #f8f8f8;
}

section {
    min-height: 75% !important;
    padding-top: 8%; !important;
}

footer {
    min-height: 12% !important;
}

.espaco{
    margin-bottom: 5%;
}

.scp-menu{
    background-color: ghostwhite;
}

header{
    background-color: yellowgreen !important;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
