{% extends "web1/base.html" %}

{% block content %}
    <div class="ui eight wide column">
        {% if form.errors %}
            <p>Login ou senha incorretos. Tente de novo.</p>
        {% endif %}
        <form class="ui form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="ui field">
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="ui field">
                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>
            <div class="ui field">
                <input class="ui positive fluid button" type="submit" value="login"/>
            </div>
        </form>
    </div>
{% endblock %}
